table {
    border-collapse: collapse;
    width: 100%;
	border: 1px solid #dddddd;
	
}

th, td {
    text-align: left;
    padding: 8px;
    height: 50px;
	border: 1px solid #dddddd;
}

table row {
	background: #FFF
}

.tablein{
    height: 360px;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin-bottom: 20px;
	
}

.advert{
    border: 1px solid #DDD;
    border-radius: 5px;
    margin-bottom: 20px;
	
}

.tablehead {
	font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
	height: 40px;
	color: #58b325;
	padding-top: 5px;
	padding-left: 10px;
}
.subpage-title h2 {
	font-size: 1.5em;
	margin: 1em 0 1.5em;
	text-transform: uppercase;
	color: #777;
}


